*~
.DS_Store
os_monitor_cwic.ini
web/Monitor/bin
web/Monitor/config.yml
web/Monitor/cpanfile
web/Monitor/environments
web/Monitor/Makefile.PL
web/Monitor/MANIFEST
web/Monitor/MANIFEST.SKIP
web/Monitor/public/
web/Monitor/t/
web/Monitor/TODO
